<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.android.friends" >

    <permission android:name="org.example.android.friends.provider.READWRITE"/>

    <uses-permission android:name="org.example.android.friends.provider.READWRITE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.WithActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="@string/add_friend_title"/>

        <activity android:name=".EditActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="@string/edit_friend_title"/>

        <activity android:name=".SearchActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="@string/search_friends_title"/>

        <provider android:name="org.example.android.friends.FriendsProvider"
                  android:authorities="org.example.android.friends.provider"
                  android:exported="true"
                  android:readPermission="org.example.android.friends.provider.READWRITE"
                  android:writePermission="org.example.android.friends.provider.READWRITE"/>
    </application>

</manifest>
